section.left {
	text-align: left;
}

.title-slide .header.no-title {
	display: none;
}

.title-slide h1 {
	color: white;
}

.reveal .header, .reveal .footer {
	position: absolute;
	font-size: 0.5em;
}

.reveal .header {
	top: 0.5em;
	z-index: 100;
}

.reveal .header.left {
	left: 1em;
}

.reveal .header.right {
	right: 1em;
}

.reveal .footer {
	bottom: 0.5em;
	z-index: -100;
}

.reveal .footer.left {
	left: 1em;
}

.reveal pre code {
	line-height: 150%;
	overflow-y: hidden !important;
	padding-left: 20px !important;
	max-height: 600px !important;
}

/*.reveal ul {
	list-style: none !important;
}*/

.reveal .small {
	font-size: 70% !important;
}

.reveal .xsmall {
	font-size: 60% !important;
}

.faded {
	opacity: 25%;
}

table.bordered {
	border: 1px solid white !important;
}

/*table .fragment.current-fragment {
	background-color: rgba(255, 255, 255, .1);
}*/

.reveal .fragment.semi-fade-out.visible {
    opacity: .2 !important;
}

.float-right {
	padding-left: 10px;
	float: right;
}

.float-left {
	padding-right: 20px;
	float: left;
}

.columns {
	display: flex;
	justify-content: space-between;
}

.boxes {
	display: flex;
	flex-wrap: wrap;
}

.one-column {
	flex: 1;
	margin: 10px;
}

.two-columns {
	flex: 2;
	margin: 10px;
}

.no-margin {
	margin: 0 !important;
}

.no-border {
	border: 0 !important;
}

.info-box {
	border: 1px solid white;
	background: #442255;
	color: white;
	padding: 20px;
	margin: 20px;
}

/*ul.info-box li::before {
	content: "" !important;
}*/

.spread {
	line-height: 200%;
}

.problem-text {
	border: 1px solid white;
	padding: 20px;
	text-align: justify;
}

figcaption {
	font-size: 50%;
}

.exclamation
{
	color: black;
	background: rgb(100%, 100%, 60%);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-20deg);
	padding: 20px;
	width: 90%;
}

.exclamation strong, .exclamation em
{
	color: var(--r-heading-color);
	-webkit-text-stroke: 1px black;
}

.keypoint
{     
	background: rgba(59, 91, 219, 0.322);
	border-left: 4px solid rgb(24, 63, 218);
	padding: 0.45em 0.75em;
	margin: 0.7em 0 0;
	font-style: italic;
}

.sliding-window
{
	position: absolute;
	border: 1px solid white !important;
	background: #FFFFFF10;
	color: white;
}

.sliding-window.good
{
	border: 1px solid #80FF80 !important;
	background: #00FF0060;
	color: white;
}

object{
	object-fit: scale-down;
}

@media print
{
	*
	{
		color: black !important;
	}

	img
	{
		background: #282a36 !important;
		-webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
		color-adjust: exact !important;                 /* Firefox 48 – 96 */
		print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
	}
}